.Rproj.user
.Rhistory
.RData
.Ruserdata
veggiemeat.code-workspace
veggiemeat.Rproj
03-qiime
04-finalRplots
05-analysisRplots
01-metadata/silva_nr99_v138.1_train_set.fa.gz
03-qiime
03-Routputfiles
04-finalRplots
06-outputfiles
07-lefse
08-CombineIsolatesAndMiSeq
09-MinIon/taxonomic_identification
09-MinIon/20230103log.txt
99-oldfiles
KoalaBlastforSupplements
VeggieMeat